<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--!Exportação do head e definição do Título!-->
    <%- include('../partials/head'); %>
    <title>Usuários</title>
</head>
<body>
    <!--!Cabeçalho-->
    <%- include('../partials/header'); %>

    <!--!Conteúdo principal-->
    <main id="users">
        <!--*Título da página-->
        <h1>Usuários</h1>

        <!--*Botão de criar um novo usuário-->
        <button class="btn btn-success w-25">
            Novo
        </button>

        <!--*Seção de usuários-->
        <section class="mb-3">
            <table>
                <thead>
                    <tr>
                        <th class="w-10">ID</th>
                        <th class="w-70">Nome</th>
                        <th class="w-20">Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(var i = 0; i < users.length; i++) { %>
                        <tr>
                            <td> <%= i %> </td>
                            <td> <%= users[i] %> </td>
                            <td>
                                <button class="btn btn-info">Editar</button>
                                <button class="btn btn-danger">Deletar</button>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </section>
    </main>

    <!--!Rodapé-->
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
    <!--!Importação do Scripts-->
    <%- include('../partials/scripts'); %>
</body>
</html>